<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Not secure</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    </head>
    <body>
        <h1>Login</h1>
            <p>You really wish to login? sure then</p>
            <form action="/login" method="POST">
                {% csrf_token %}
                {% if error %}
                    <p style="color: red;">{{ error }}</p>
                {% endif %}
                {% if success %}
                    <p style="color: green;">{{ success }}</p>
                {% endif %}
                <label for="username">Username:</label><br>
                <input id="username" name="username"><br>
                <label for="password">Password:</label><br>
                <input id="password" name="password"><br>
                <input type="submit" value="Sign up">
            </form>
            <p>If you dont have an account, you can register a new account here</p>
            <a href="signup">Register new account</a>

    </body>
</html>